html {
  background: #222;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #eee;
}

body {
  padding: 0;
  margin: 0;
}

span:after {
  content: " ";
  display: inline-block;
  width: 2%;
}

fieldset {
  float: left;
  padding-right: 18px;
}

#logo {
  font-family: "Times New Roman", serif;
  font-size: 20pt;
}

.window {
  position: relative;
  cursor: default;
  margin: 2em auto;
  width: 80%;
  background: #333;
  color: #eee;
  border: 6px double #eee;
  padding: 1em;
  box-shadow: 0 0 0 3px #333, 1em 1em 3px 0 rgba(0, 0, 0, 0.5);
  max-width: 640px;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.window.white {
  background: #555;
  color: #222;
  border-color: #eee;
  box-shadow: 0 0 0 3px #555, 1em 1em 3px 0 rgba(0, 0, 0, 0.5);
}

.window.half-width {
  width: 50%;
}

.window h1 {
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.window.blue p {
  color: #eee;
  text-shadow: 0 0 2px #eee;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

button,
.button,
.button:link {
  display: inline-block;
  font-weight: bolder;
  color: #eee;
  font-family: inherit;
  font-size: inherit;
  background: #22aa88;
  padding: 0.75em 1.5em;
  box-shadow: 0.25em 0.25em 3px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 0.2s all ease-in;
  border: none;
}

button.full-width,
.button.full-width {
  display: block;
  text-align: center;
}

button:before,
.button:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
}

button:hover,
.button:active,
.button:focus,
.button:hover {
  transform: translate3d(0.25em, 0.25em, 10em);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background: #33bb99;
}

button:hover:before,
.button:hover:before,
button:focus:before,
.button:focus:before {
  top: -0.5em;
  left: -0.5em;
}

.button.pressed {
  box-shadow: none;
  left: 0.25em;
  top: 0.25em;
  margin-right: 0.25em;
  background: #444;
}

button:disabled {
  transform: translate3d(0.25em, 0.25em, 10em);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background: #555;
}

button:first-letter,
.button:first-letter {
  color: #ffcc00;
}

button#btn-transfer {
  margin-top: 20px;
}

input,
textarea {
  background: #333;
  color: #eee;
  width: 100%;
  max-width: 100%;
  font-size: 12pt;
  padding: 0.5em;
  border: none;
}

input:disabled {
  background: #222;
  color: #777;
  border: 2px solid #333;
}

.window > textarea {
  width: 100%;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.trade-buttons {
  text-align: center;
  margin-top: 20px;
}

div .transfer {
  display: table;
  margin: auto;
}
